src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3f4cbb89-2e56-42b6-97e5-ff07cb58f77b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="35cf58c6-cb8d-4200-b8c3-8e0898870354" >
		<wsc:connection wsdlLocation="http://currencyconverter.kowabunga.net/converter.asmx?WSDL" service="Converter" port="ConverterSoap12" address="http://currencyconverter.kowabunga.net/converter.asmx"/>
	</wsc:config>
	<wsc:config name="Web_Service_Consumer_Config1" doc:name="Web Service Consumer Config" doc:id="3909a57c-17a4-4ed1-91ed-87a2a28daf16" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?WSDL" service="Calculator" port="CalculatorSoap12" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapFlow" doc:id="678dc53a-31df-4964-91be-a8182e8277b4" >
		<http:listener doc:name="Listener" doc:id="65dd3e1b-a125-4b9d-ad2c-bb8d61c7d1a8" config-ref="HTTP_Listener_config" path="/soap"/>
		<choice doc:name="Choice" doc:id="88843626-997f-4751-9282-d3eaf2032ea9" >
			<when expression='#[attributes.queryParams.operation == "GET"]'>
				<wsc:consume operation="GetCurrencies" doc:name="Consume" doc:id="f8e25de4-d256-430c-ab08-b4e5187ecb4e" config-ref="Web_Service_Consumer_Config" />
				<ee:transform doc:name="Transform Message" doc:id="da253d91-dac6-47f4-9842-e583b1755858">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	Result : payload.body.ns0#GetCurrenciesResponse
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<when expression='#[attributes.queryParams.operation == "Multiple"]'>
				<ee:transform doc:name="Transform Message" doc:id="5eb28aec-2820-4f73-b1a0-3d064cd017f5">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: payload.value1,
		ns0#intB: payload.value2
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="77110202-5252-49be-8bcd-25f5dd721c7a" config-ref="Web_Service_Consumer_Config1" operation="Multiply"/>
				<ee:transform doc:name="Transform Message" doc:id="8633c694-ed07-427b-8e72-aef0de83f4d0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	Response : payload.body.ns0#MultiplyResponse.ns0#MultiplyResult

}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[attributes.queryParams.operation == "Currency"]'>
				<ee:transform doc:name="Transform Message" doc:id="edeb9075-30bb-41c4-a92b-69a67de0df94" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#GetConversionAmount: {
		ns0#CurrencyFrom: payload.CurrencyFrom,
		ns0#CurrencyTo: payload.CurrencyTo,
		ns0#RateDate: payload.RateDate,
		ns0#Amount: payload.Amount
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="d5be79c3-74de-479e-9a2d-e6569fc8c322" config-ref="Web_Service_Consumer_Config" operation="GetConversionAmount"/>
				<ee:transform doc:name="Transform Message" doc:id="88586e45-8ea9-474d-bc6a-cb009e3fffc9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	Currency: payload.body.ns0#GetConversionAmountResponse.ns0#GetConversionAmountResult
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="4a5ecf4b-2d7a-47ae-a43a-58bf4fa408fb" message='Request Failed Or Attribute Requried to Call'/>
			</otherwise>
		</choice>
	</flow>
</mule>
